@import "./base.css";

#app {
}

.body-content {
	padding: 2rem;
	margin: 0 auto;
}

a,
.green {
	text-decoration: none;
	color: #00bd7e;
	transition: 0.4s;
	padding: 1rem;
}

.btn {
	border: none;
	border-radius: 0.4rem;
	background: #095a3f;
	color: white;
	padding: 0.8rem 1.5rem;
	font-weight: bold;
	font-size: 1rem;
}
.btn:hover {
	background: #00bd7e;
}

@media (hover: hover) {
	a:hover {
		background-color: hsla(160, 100%, 37%, 0.2);
	}
}

@media (min-width: 1024px) {
	.body-content {
		/* display: flex;
		place-items: center; */
	}

	#app {
		/* padding: 0 2rem; */
	}
}
